/* Estilo foto de perfil con media */
@media (min-width: 580px) {
    #fotokevin{
      position: absolute;
      width: 15%;
      border-radius: 100%;
      margin-top: -45px;
      margin-left: 10px;
    }
  }
  @media (max-width: 579px) {
    #fotokevin{
      position: relative;
      border-radius: 100%;
      margin: auto;
      width: 55%;
      margin-top: -100px;
      margin-left: 90px;
    }
  }

  .nombre, h1{
    margin-top: 20px;
  }