<div class="row">
    <h1>Hard Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../../assets/logos/html.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="2000"
      ></circle-progress>
    </div>
  
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="75"
        [radius]="100"
        [imageSrc]="'../../assets/logos/cs.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="2000"
      ></circle-progress>
    </div>
  
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="68"
        [radius]="100"
        [imageSrc]="'../../assets/logos/js.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="2000"
      ></circle-progress>
    </div>
  
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="70"
        [radius]="100"
        [imageSrc]="'../../assets/logos/git.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="2000"
      ></circle-progress>
    </div>
  
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../assets/logos/ang.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="2000"
      ></circle-progress>
    </div>
  
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="65"
        [radius]="100"
        [imageSrc]="'../../assets/logos/java.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="60"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="2000"
      ></circle-progress>
    </div>
  </div>

  <div class="row">
    <h1>Soft Skills</h1>
    <div class="text-center col-sm-6 col-md-6 col-lg-6">
      <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../../assets/logos/eng.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="2000"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-6 col-lg-6">
      <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../../assets/logos/grupal.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="2000"
      ></circle-progress>
    </div>
  </div>