<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11"></div>
    <div class="col-lg-11">
        <ul>
          <li>
            <h2>Trabajo 1 <h3>(years)</h3></h2>
          </li>
          <p>
            Parrafo
          </p>
        </ul>
  
        <ul>
          <li>
            <h2>Trabajo 2 <h3>(years)</h3></h2>
          </li>
          <p>
            Parrafo
          </p>
        </ul>
  
        <ul>
          <li>
            <h2>Trabajo 3 <h3>(years)</h3></h2>
          </li>
          <p>
            Parrafo
          </p>
        </ul>
    </div>
  </div>